# Exclude everything from the Docker context.
*

# Include source files.
!chuffed
!tests
!thirdparty

# Include CMake files.
!CMakeLists.txt
!chuffed.msc.in
!chuffed-config.cmake.in
!.clang-format
!.clang-tidy